asn1crypto==0.24.0
aws-requests-auth==0.4.2
boto3==1.9.63
botocore==1.12.63
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
docutils==0.14
edgegrid-python==1.1.1
escherauth==0.2.5
h2==2.6.2
hpack==3.0.0
httpie==1.0.2
httpie-akamai==0.1.5
httpie-api-auth==0.3.0
httpie-aws-auth==0.0.3
httpie-aws-authv4==0.1.2
httpie-dag==0.1.0
httpie-django-auth==0.1.1
httpie-edgegrid==1.0.6
httpie-ems-auth==0.2.2
httpie-ems-auth-p3==0.2.3
httpie-escher-auth==0.1.0
httpie-esni-auth==1.0.0
httpie-f5-auth==0.0.6
httpie-hmac-auth==0.2.3
httpie-http2==0.0.1
httpie-httpsig-auth==0.1.1
httpie-image==1.0.0
httpie-media-auth==0.0.8
httpie-msgpack==1.0.0
httpie-nsof==1.2
httpie-ntlm==1.0.2
httpie-oauth==1.0.2
httpie-plex==1.0.1
httpie-svb-auth==1.0.4
httpie-token-auth==0.1.8
httpie-visionect-auth==0.0.1
httpie-wsse-auth==0.1.1
httpsig-cffi==15.0.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.8
jmespath==0.9.3
mohawk==0.3.4
msgpack-python==0.5.6
ndg-httpsclient==0.5.1
ntlm-auth==1.2.0
oauthlib==2.1.0
pyasn1==0.4.4
pycparser==2.19
Pygments==2.3.0
PyJWT==1.7.1
pyOpenSSL==18.0.0
python-dateutil==2.7.5
requests==2.21.0
requests-aws==0.1.8
requests-f5auth==0.1.2
requests-hawk==1.0.0
requests-ntlm==1.1.0
requests-oauthlib==1.0.0
s3transfer==0.1.13
setuptools-scm==3.1.0
six==1.12.0
urllib3==1.24.1
