httpie
httpie-akamai
httpie-api-auth
httpie-aws-auth
httpie-aws-authv4
httpie-dag
httpie-django-auth
httpie-edgegrid
httpie-ems-auth
httpie-ems-auth-p3
httpie-escher-auth
httpie-esni-auth
httpie-f5-auth
httpie-hmac-auth
httpie-http2
httpie-httpsig-auth
httpie-image
httpie-media-auth
httpie-msgpack
httpie-nsof
httpie-ntlm
httpie-oauth
httpie-plex
httpie-svb-auth
httpie-token-auth
httpie-visionect-auth
httpie-wsse-auth
requests-hawk 
#TODO: (garbas) didn't have time to make the below plugins work
#httpie-asap-auth
#httpie-jwt-auth
#httpie-negotiate
#httpie-odps-auth
#httpie-unixsocket
#httpie-zign
