attrs==17.4.0
black==18.4a0
blessings==1.6.1
click==6.7
docutils==0.14
enum-compat==0.0.2
flake8==3.5.0
flake8-author==1.1.4
flake8-blind-except==0.1.1
flake8-bugbear==17.12.0
flake8-builtins==1.2.2
flake8-chart==0.1.5
flake8-codeclimate==0.1.3
flake8-coding==1.3.0
flake8-colors==0.1.6
flake8-commas==2.0.0
flake8-comprehensions==1.4.1
flake8-config-4catalyzer==0.2.1
flake8-copyright==0.2.0
flake8-debugger==3.1.0
flake8-deprecated==1.3
flake8-diff==0.2.2
flake8-docstrings==1.3.0
flake8-double-quotes==0.0.1
flake8-doubles==0.3
flake8-exact-pin==0.0.1
flake8-format-ansi==0.1.0
flake8-formatter-abspath==1.0.1
flake8-future==0.2
flake8-future-import==0.4.4
flake8-graphql==0.2.5
flake8-html==0.4.0
flake8-immediate==0.2
flake8-import-order==0.17.1
flake8-import-order-fuzeman==1.7.0
flake8-import-order-spoqa==1.3.0
flake8-imports==0.1.1
flake8-isort==2.5
flake8-junit-report==2.1.0
flake8-libfaketime==1.1
flake8-logging-format==0.3.0
flake8-meiqia==0.2.0
flake8-mock==0.3
flake8-module-imports==1.1
flake8-mutable==1.2.0
flake8-mypy==17.8.0
flake8-network-timeout==0.2.0
flake8-ownership==1.1.1
flake8-pep257==1.0.5
flake8-pep3101==1.2.1
flake8-plone-api==1.4
flake8-plone-hasattr==0.2.post0
flake8-polyfill==1.0.2
flake8-print==3.1.0
flake8-pyi==18.3.1
flake8-pytest==1.3
flake8-quotes==0.14.1
flake8-quotes2==0.0.1
flake8-regex==0.3
flake8-respect-noqa==0.3
flake8-rst-docstrings==0.0.8
flake8-snippets==0.2
flake8-sorted-keys==0.2.0
flake8-SQL==0.2.0
flake8-strict==0.2.0
flake8-string-format==0.2.3
flake8-tidy-imports==1.1.0
flake8-todo==0.7
flake8-trailing-commas==0.1.3
flake8-translation-activate==1.0.2
flake8-truveris==0.3.4
flake8-tuple==0.2.13
flake8-ugettext-alias==1.1
flake8-user-model==1.1
graphql-core==2.0
isort==4.3.4
Jinja2==2.10
MarkupSafe==1.0
mccabe==0.6.1
mypy==0.580
pep257==0.7.0
pep8==1.7.1
promise==2.1
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.6.0
pygal==2.4.0
Pygments==2.2.0
restructuredtext-lint==1.1.3
Rx==1.6.1
six==1.11.0
snowballstemmer==1.2.1
sqlparse==0.2.4
testfixtures==6.0.0
typed-ast==1.1.0
typing==3.6.4
