certifi==2018.4.16
chardet==3.0.4
httplib2==0.11.3
idna==2.6
oauth2client==4.1.2
oauthlib==2.1.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pykube==0.15.0
pytz==2018.4
PyYAML==3.12
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
