appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.4
click==6.7
clickclick==1.2.1
connexion==1.1.10
Flask==0.12.2
Flask-Cache==0.13.1
Flask-Cors==3.0.3
Flask-Login==0.4.0
Flask-SQLAlchemy==2.2
idna==2.5
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
packaging==16.8
pyparsing==2.2.0
PyYAML==3.12
requests==2.18.1
six==1.10.0
SQLAlchemy==1.1.11
swagger-spec-validator==2.1.0
typing==3.6.1
urllib3==1.21.1
Werkzeug==0.12.2
