certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.1.0
flake8==3.6.0
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.0
mccabe==0.6.1
openapi-spec-validator==0.2.4
pycodestyle==2.4.0
pyflakes==2.0.0
pytest-runner==4.2
PyYAML==3.13
requests==2.21.0
setuptools-scm==3.1.0
six==1.12.0
SQLAlchemy==1.2.15
urllib3==1.24.1
vcversioner==2.16.0.0
Werkzeug==0.14.1
